/* stylelint-disable selector-class-pattern */

.page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5em 10em;
  align-content: center;
  border: thin solid black;
  box-sizing: border-box;
  min-height: 100vh;
}

.page--a4 {
  max-width: 21cm;
  max-height: 29.7cm;
}
